body {
  font-family: Arial, sans-serif;
  background-color: var(--gray-300);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: var(--gray-200);
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 10px var(--black);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: var(--white);
}

button {
  width: 100%;
  padding: 20px;
  background-color: var(--green-200);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: var(--green-100);
}

.result-box {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--green-300);
  border-radius: 5px;
  background-color: var(--gray-100);
  color: var(--green-300);
  display: none; /* Inicialmente escondido */
  text-align: start;
}

#sequences {
  text-align: start;
}